<!-- Dialog -->
<h2 mat-dialog-title>Invoice</h2>

<mat-dialog-content>

    <p>{{ order.password.name }}</p>
    <p>{{ order.password.price }}</p>
    <p>{{ order.spyware.name }}</p>
    <p>{{ order.spyware.price }}</p>
    <p>{{ order.memory.name }}</p>
    <p>{{ order.memory.price }}</p>
    <p>{{ order.software.name }}</p>
    <p>{{ order.software.price }}</p>
    <p>{{ order.tuneUp.name }}</p>
    <p>{{ order.tuneUp.price }}</p>
    <p>{{ order.cleanUp.name }}</p>
    <p>{{ order.cleanUp.price }}</p>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
