.sideNav {
  border: 1px solid black;
  border-radius: 5px;
  height: 89.5vh;
}

.menu{
  border-radius: 5px;
}

.stockAmount {
  margin: 50px;
  height: 200px;
  text-align: center;
  background-color: grey;
  border-radius: 5px;
}

